/personxml/.idea
/personxml/target/
/personjavaconfig/.idea
/personjavaconfig/target/
/housexml/.idea
/housexml/target/
/houseanno/.idea
/houseanno/target/
/housejavaconfig/.idea
/housejavaconfig/target/
/lab1/.idea
/lab1/target/
/lab2_1/.idea
/lab2_1/target/
/lab2_2/.idea
/lab2_2/target/
/dbJDBC/.idea
/dbJDBC/target/
/dbHibernate/.idea
/dbHibernate/target/
/dbJPA/.idea
/dbJPA/target/
/dbSpringData/.idea
/dbSpringData/target/
/TemplateMethodJava/.idea
/TemplateMethodJava/*.iml
/TemplateMethodJava/out/
/Examples