/personxml/.idea
/personxml/target/
/personanno/.idea
/personanno/target/
/housexml/.idea
/housexml/target/
/houseanno/.idea
/houseanno/target/
/housejavaconfig/.idea
/housejavaconfig/target/
/lab1/.idea
/lab1/target/
/Examples