/personxml/.idea
/personxml/target/
/personjavaconfig/.idea
/personjavaconfig/target/
/housexml/.idea
/housexml/target/
/houseanno/.idea
/houseanno/target/
/housejavaconfig/.idea
/housejavaconfig/target/
/lab1/.idea
/lab1/target/
/lab2_1/.idea
/lab2_1/target/
/lab2_2/.idea
/lab2_2/target/
/Examples